<div class="footer">
    <p>Última atualização: Abril de 2025</p>
    <p>Status: Disponível para oportunidades como freelancer, entrevistas de emprego e colaborações.</p>

    <h4>Atalhos</h4>
    <ul class="atalhos">
        <li class="item_atalhos">
            <a href="/" class="item_atalhos"><p class="item_atalhos_texto">Apresentação</p></a>
        </li>
        <li class="item_atalhos">
            <a href="/projetos" class="item_atalhos"><p class="item_atalhos_texto">Projetos</p></a>
        </li>
        <li class="item_atalhos">
            <a href="/certificados" class="item_atalhos"><p class="item_atalhos_texto">Certificados</p></a>
        </li>
    </ul>

    <p>© 2025 Julia Pereira. Todos os direitos reservados.</p>

</div>