    <nav class="navbar">
        <i class="fa-solid fa-briefcase"></i>
        <div class="navbar_principal">
            <a href="" id="titulo_navbar">Meu Portifólio</a>
            <div id="itens_navbar">
                <a href="/" class="item_navbar">Apresentação</a>
                <a href="/projetos" class="item_navbar">Projetos</a>
                <a href="/certificados" class="item_navbar">Certificados</a>
            </div>
        </div>
    </nav>